:root{
    --primary-color : rgb(118, 124, 255);
    --secondary-color : rgb(111, 83, 181);
    --bg-color: rgb(45, 45, 70);
    --theme-color: rgb(118, 124, 255);
}



body {
    display: flex;
    background-image: linear-gradient(45deg, rgb(30, 30, 46), rgb(40, 40, 60));
    background-size: cover;
    font-family:"poppins";
    font-weight: bold;
    text-align: center;
    color:white;
    align-items: center;
    height: 95vh;

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(111, 83, 181);
    cursor:pointer;
}

#save-btn {
    background: rgb(118, 124, 255);
}

.counter-container{
    border: 2px solid rgb(57, 57, 75);
    width:400px;
    height:400px;
    border-radius:10px;
    background: rgb(45, 45, 70);
    margin:0 auto;
}

#count{
    font-size: 100px;
}

a {
    text-decoration:none;
}

.bottom-txt{
    width: 100%;
    background-color: var(--bg-color);
    font-size: 16px;;
    align-items: center;
    position: relative;
    bottom: -45%;
    border:2px solid var(--theme-color);
    padding:10px;
    cursor: pointer;
    border-radius:10px;
    box-shadow: 0px 0px 0px rgb(76, 82, 193);
    transition: box-shadow 0.3s ease;

}

.bottom-txt:hover {
    box-shadow: 0px 0px 10px rgb(136, 142, 255);
}



.bottom-txt img{
    margin-left: 5px;
    margin-bottom:-4px;
    width: 20px;
    height:auto;
}

#body-container{
    display: flex;
    margin:0 auto;
    flex-direction:column;
    justify-content: center;
    gap:100px;
}